body{
    height: 100vh;
    max-width: 1030px;
    background: url("img/background 1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    margin: 0 auto;
}
.header-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto;
}
.logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 24px;
}
.img-logo{
    height: 47px;
    width: 53px;
}
.logo a{
    text-decoration: none;
    color: #FFFFFF;
}
.logo span{
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.contacts a{
    text-decoration: none;
    color: #FFFFFF;
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.container {
    font-family: 'Roboto', sans-serif;
    display: grid;
    row-gap: 60px;
    margin: 60px auto;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "item-1 item-2 item-3"
                         "item-4 item-5 item-6";
}
.container a{
    text-decoration: none;
    color: #FFFFFF;
}
.container .description{
    position: relative;
    text-align: center;
    color: #FFFFFF;
}

.logo:hover a{
    color: #F26522
}
.mail:hover{
    color: #F26522
}
.number:hover{
    color: #F26522
}
.icon{
    display: inline-block;
    width: 53px;
    height: 47px;
    background-size: cover;
    background-image: url("img/logo 3.svg");
}
.logo:hover .icon {
    filter: brightness(0) saturate(100%) invert(39%) sepia(94%) saturate(1293%) hue-rotate(350deg) brightness(100%) contrast(90%);
}
.label{
    display: flex;
    justify-content: space-around;
    position: relative;
    background: #F26522;
    max-width: 300px;
    height: 55px;
    top: -55px;
    left: 2px;
    opacity: 0;
}
.item-1:hover .label{
    opacity: 1;
}
.item-1:hover .description{
    color: #F26522;
}
.item-2:hover .label{
    opacity: 1;
}
.item-2:hover .description{
    color: #F26522;
}
.item-3:hover .label{
    opacity: 1;
}
.item-3:hover .description{
    color: #F26522;
}
.item-4:hover .label{
    opacity: 1;
}
.item-4:hover .description{
    color: #F26522;
}
.item-5:hover .label{
    opacity: 1;
}
.item-5:hover .description{
    color: #F26522;
}
.item-6:hover .label{
    opacity: 1;
}
.item-6:hover .description{
    color: #F26522;
}
.price{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.price span{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.details{
    position: relative;
    top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.details:after{
    content: url("img/Vector 1.png");
    position: relative;
    right: -5px;
    top: 2px;
}
footer{
    max-width: 80%;
    margin: 0 auto;
    color: #FFFFFF;
    text-align: center;
}
.description{
    position: relative;
    left: 80px;
}

